/* html{
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
} */




/*
===============
Variables
===============
*/

:root {
/* main colors */
--clr-red: #e13742;
--clr-orange: #ec763d;
--clr-yellow: #f7b538;
--clr-green:#6e9075;
/* darkest grey - used for headings */
--clr-grey-1: hsl(209, 61%, 16%);
--clr-grey-2: hsl(211, 39%, 23%);
--clr-grey-3: hsl(209, 34%, 30%);
--clr-grey-4: hsl(209, 28%, 39%);
/* grey used for paragraphs */
--clr-grey-5: hsl(210, 22%, 49%);
--clr-grey-6: hsl(209, 23%, 60%);
--clr-grey-7: hsl(211, 27%, 70%);
--clr-grey-8: hsl(210, 31%, 80%);
--clr-grey-9: hsl(212, 33%, 89%);
--clr-grey-10:hsl(207, 36%, 95%);
/* other colors */
--clr-white: #fbfffe;
--clr-black: #050505;
--clr-platinum: #E5E5E5;
/* font families */
--ff-primary:'Roboto', sans-serif;
--ff-secondary:'Caveat', cursive;
--ff-tertiary:'Libre Baskerville', serif;
/* transitions */
--transition: all 0.3s linear;
--long-transition: all 1.5s ease;
/* spacing */
--spacing: 0.25rem;
/* radius */
--radius: 0.65rem;
/* box shadow */
--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
/* width */
--max-width: 1280px;
}


/*
===============
Global Styles
===============
*/

*,
::after,
::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* @media screen and (max-width:380px){
*{
overflow-x: hidden;
}
} */

body {
font-family: var(--ff-primary);
background: var(--clr-grey-10);
color: var(--clr-grey-5);
line-height: 1.5;
font-size: 0.9rem;
}
ul {
list-style-type: none;
}
a {
text-decoration: none;
cursor: pointer;
}
img{
width: 100%;
display: block;
}

h1,
h2,
h3,
h4 {
letter-spacing: var(--spacing);
text-transform: capitalize;
line-height: 1.25;
margin-bottom: 0.75rem;
}
h1 {
font-size: 3rem;
}
h2 {
font-size: 2rem;
}
h3 {
font-size: 1.3rem;
}
h4 {
font-size: 1rem;
}
p {
margin-bottom: 1.25rem;
color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
h1 {
font-size: 4rem;
}
h2 {
font-size: 2.5rem;
}
h3 {
font-size: 1.75rem;
}
h4 {
font-size: 1.25rem;
}
body {
font-size: 1.1rem;
}
h1,
h2,
h3,
h4 {
line-height: 1;
}
}

/* global classes */

.btn {
text-transform: uppercase;
background: transparent;
color: var(--clr-red);
padding: 0.5rem 1rem;
letter-spacing: var(--spacing);
display: inline-block;
font-weight: 700;
transition: var(--transition);
font-size: 1rem;
border: 2px solid var(--clr-red);
cursor: pointer;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
border-radius: var(--radius);
}
.btn:hover {
background: var(--clr-black);
}

/* section */

.section {
padding: 5rem 0;
}

.section-center {
width: 90vw;
margin: 0 auto;
max-width: 1280px;
margin-top: 2rem;
}
@media screen and (min-width: 992px) {
.section-center {
width: 95vw;
}
}

.underline{
width: 7rem;
height: 0.25rem;
margin-bottom: 1.2rem;
/* background: var(--clr-white); */
margin-left: auto;
margin-right: auto;
}


/* title */
.section-title{
display: flex;
align-items: center;
padding: 2rem; 
/* margin: 4rem 0; */
}
.title-icon{
  color:var(--clr-red);
  font-size: 4rem;
  margin-right: 1rem;
}
.title-info{
  padding-left: 1rem;
	border-left: 3px solid var(--clr-grey-6);
	padding-top: 0.8rem;
}
.title-info h3{
  color: var(--clr-black);
  text-transform: uppercase;
}
.title-info p{
  color: var(--clr-grey-6);
  line-height: 1;
}






/*
=========================
NAVBAR
=========================
*/
.nav{
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: var(--long-transition);
}
.nav-header{
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.5);
  border-bottom: 2px solid var(--clr-red);
  transition: var(--long-transition);
}
.nav-logo{
  width: 5rem;
  align-self: baseline;
}
.nav-btn{
  font-size: 2rem;
  color: var(--clr-red);
  display: inline-block;
  padding: 0 1rem;
  cursor: pointer;
	border: 2px solid var(--clr-red);
  border-radius: 50%;
  background: transparent;
}
.nav-links{
  display: none;
  background: var(--clr-black);
}
.nav-link{
  display: block;
  color: var(--clr-red);
  padding:1rem 1.5rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  font-size: 1rem;
  transition: var(--transition);
}
.nav-link:hover{
  padding-left: 2rem;
  border-left: 5px solid var(--clr-yellow);
  background: rgba(27, 27, 27, 0.8);
  color: var(--clr-yellow);
}
.navBackground{
  background: rgba(0,0,0,0.9);
}

@media screen and (min-width:992px){
	.nav-btn{
		display: none;
	}
	.nav-links{
		display: flex!important;
		justify-content: space-evenly;
		align-items: center;
		margin: 0.8rem;
    background: transparent;
	}
	.nav-header{
    background: transparent;
    border: none;
    flex: 0 0 auto;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav-link{
    padding: 0.2rem 0.8rem;
    font-size: 1.3rem;
  }
  .nav-link:hover{
    background: rgba(0, 0, 0, 0.2);
    border: none;
    padding-left:0.8rem;
    transform: translateY(-0.2rem);
    color: var(--clr-yellow);
  }
}




/*
=========================
HERO
=========================
*/

.header{
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5)), url('../images/header-bcg.jpeg') center/cover no-repeat fixed;
  min-height: 100vh;
  position: relative;
}
.hero-banner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 80%;
}
.hero-subtitle{
  font-family: var(--ff-secondary);
  color: var(--clr-red);
  margin-bottom: 2rem;
}
.hero-title{
  text-transform: uppercase;
  color: var(--clr-red);
  font-family: var(--ff-tertiary);
  font-size: 4rem;
  text-shadow: 1px 2px 1px var(--clr-green);
}
.hero-btn{
  border-radius: 0;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

@media screen and (max-width:520px){
  .hero-subtitle{
    margin-bottom:1.5rem
  }
  .hero-title{
    font-size: 2.8rem;
  }
  .hero-btn{
    margin-top:0.8rem;
    font-size: 1rem;
  }
}




/*
=========================
ICONS
=========================
*/
.icons{
  background: var(--clr-black);
  padding: 5rem 0;
  display: grid;
  place-items: center;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 71%);
}
.icons-title{
  margin-bottom: 2.5rem;
  color: var(--clr-yellow);
  text-shadow: 1px 1px 1px var(--clr-red);
}
.social-icon{
  font-size: 3rem;
  padding:2rem 1rem;
}
.social-icon .fa-twitter{
  color: #50ABF1;
}
.social-icon .fa-instagram{
  color:#F24D6F;
}
.social-icon .fa-linkedin{
  color:#0077B7;
}
.social-icon .fab{
  transition: var(--transition);
}
.social-icon:hover .fab{
  color: var(--clr-yellow);
}




/*
=========================
ABOUT
=========================
*/

.about-title{
  margin-top:-6rem;
}
.about-image{
  height: 20rem;
  object-fit: cover;
  border-radius: var(--radius);
  transition: var(--long-transition);
}
.about-image:hover{
  transform: scale(0.95);
}
.about-info{
  max-width: 30rem;
  margin: 2rem auto;
}
.about-info p{
  color: var(--clr-black);
  font-size: 1rem;
}


@media screen and (min-width:876px){
  .about-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-img,.about-info{
    flex: 0 0 calc(50% - 2rem);
  }
}




/*
=========================
TEAM
=========================
*/
.team{
  background: var(--clr-grey-3);
  clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
  padding-bottom: 18rem;
}
.member{
  background: var(--clr-white);
  margin: 2rem 0rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.member:hover{
  box-shadow: var(--dark-shadow);
  transform: scale(1.01);
}
.member-image{
  height: 15rem;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.member-info{
  padding: 1rem 1.5rem 0;
  text-align: center;
}
.member-name{
  color: var(--clr-yellow);
}
.member-course{
  text-transform: uppercase;
  color: var(--clr-grey-7);
  line-height: 0.5;
}
.member-social{
  display: flex;
  justify-content: space-around;
  color: var(--clr-yellow);
  padding: 0.6rem 0;
  font-size: 1.5rem;
  background: var(--clr-black);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.member-icon{
  transition: var(--transition);
}
.member-icon:hover{
  color: var(--clr-red);
}

@media screen and (min-width:576px){
  .team{
  padding-bottom: 10rem;
}
  .team-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width:992px){
  .team-center{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}




/*
=========================
SHOWS
=========================
*/


/*
=========================
STATS
=========================
*/


/*
=========================
CONTACT
=========================
*/
.contact{
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/contact-bcg.jpg') center/cover no-repeat fixed;
  padding: 10rem 2rem;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 80%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact-title{
  color: var(--clr-white);
  text-transform: uppercase;
}
.contact-center{
  margin-top: 2rem;
}
form{
  display: flex;
  flex-wrap: wrap;
  padding:0 2rem ;
}
.form-item,.form-btn{
  text-transform: capitalize;
  padding: 0.8rem 1.2rem;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  color: var(--clr-white);
  border-bottom: 3px solid var(--clr-white);
  margin-right: 1.5rem;
  outline: none;
  margin-bottom:1rem;
}
.form-item::placeholder{
  color: var(--clr-white);
}
.form-btn{
  border: 3px solid var(--clr-white);
  color: var(--clr-yellow);
  text-transform: uppercase;
  transition: var(--transition);
  padding: 1rem 2rem;
}
.form-btn:hover{
  background: var(--clr-black);
  color: var(--clr-white);
}


/*
=========================
WALLPAPERS
=========================
*/


/*
=========================
PLANS
=========================
*/
.ui-accordion-header{
  text-align: center;
  padding: 1rem 0.5rem!important;
  font-size: 1.5rem!important;
  margin: 1rem 0!important;
  border-radius: var(--radius)!important;
  background: var(--clr-black)!important;
  color: var(--clr-white)!important;
  outline: none!important;
  font-family: var(--ff-tertiary);
}
.netflix .ui-accordion-header{
  background: var(--clr-red)!important;
  color: var(--clr-black)!important;
}
.ui-accordion .ui-accordion-content{
  border: 2px solid var(--clr-yellow)!important;
  border-radius: var(--radius);
  padding: 0.8rem 1rem!important;
  text-align: left;
}
.netflix .ui-accordion .ui-accordion-content{
  background: var(--clr-white)!important;
}
.ui-accordion-header-icon{
  background: var(--clr-white);
  margin-right: 0.5rem;
  border-radius: var(--radius);
}
.plans{
  background: var(--clr-grey-3);
  min-height: 70vh;
}
.plans-center{
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem 3rem;
  place-items: center;
}
.service{
  padding: 3rem;
}
.service-name{
  height: 8rem;
  border-radius: var(--radius);
  object-fit: cover;
  margin-bottom: 2.5rem;
}
.plan-info{
margin: 4rem 0;
}
.plan-item{
  font-size: 1.2rem;
  color: var(--clr-black);
}
.plan-item i{
  margin-right: 1rem;
  color:var(--clr-red);
  font-size: 1.3rem;
}
.plans-link{
  text-align: center;
  margin-top: 2rem;
}
.plans-link a{
  font-size: 1.3rem;
  color: var(--clr-white);
  border-color: var(--clr-white);
}

@media screen and (min-width:768px){
  .plans-center{
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width:1080px){
  .plans-center{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.netflix{
  background: var(--clr-black);
  border-radius: var(--radius);
}




/*
=========================
REVIEWS
=========================
*/

.reviews{
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/reviews-bcg.jpg') center/cover no-repeat fixed;
	min-height: 70vh;
}
.reviews-title .title-info{
  border-color: var(--clr-white);
}
.reviews-title .title-info h3{
  color: var(--clr-red);
}
.reviews-title .title-info p{
  color: var(--clr-white);
}
.review{
  text-align: center;
  margin: 2rem 0;
	padding: 0 2rem;
	height: 100%;
}
.review-image{
  width: 15rem!important;
  height: 10rem!important;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}
.review-text{
  color: var(--clr-white);
	max-width: 30rem;
	margin: 0 auto;
}
.review-text i{
  font-size: 1.3rem;
  margin-right: 1rem;
  color: var(--clr-yellow);
}
.review-name{
  color: var(--clr-yellow);
  text-transform: uppercase;
	font-family: var(--ff-secondary);
	margin-top: 1rem;
}






/*
=========================
FOOTER
=========================
*/